@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$header-background: rgb(54, 59, 71);
$pinkish:rgb(232, 230, 224);
$blueish:rgb(81, 163, 204);
$footer:rgb(59, 118, 187);